body {
    font-family: cursive;
    font-size: 1.3rem;
    background-color: #fdf2e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
h1 {
    color: #45260A;
}
figure {
    color: #555555;
    padding: 2rem;
}
figcaption {
    font-weight: bold;
    text-align: center;
}
ol {
    list-style-type: decimal;
}
ul {
    list-style-type: disc;
}            
img {
    display: block;
    border: 3px #E67E22 solid;
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: #E67E22;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: #cf711f;
}