body {
    font-family: cursive;
    font-size: 1.3rem;
    background-color: #fdf2e9;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #45260A;
    text-align: center;
}

table {
    width: 80rem;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #45260A;
    text-align: center;
}

a {
    color: #E67E22;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #cf711f;
}